.Button {
  background-color: var(--brand70);
  color: var(--base);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 3rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: var(--brand80);
  }
}
