@use 'scss/variables';
@use 'scss/reset';
@use 'scss/utilities';

$screenSizes: 280, 320, 360, 375, 393, 410, 412, 414, 450;
@each $size in $screenSizes {
  @media (min-width: #{$size}px) {
    html {
      font-size: calc(($size / 375) * 62.5%);
    }
  }
}

html {
  overscroll-behavior-y: none;
  user-select: none;
  -webkit-user-select: none;
}

body {
  font-size: 1.4rem;
  color: var(--gray100);
  background-color: var(--base-white);
  min-height: 100dvh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

input,
textarea,
[contenteditable='true'] {
  user-select: text;
  -webkit-user-select: text;
}

@media (max-width: 768px) {
  input,
  textarea,
  select {
    font-size: 16px !important;
  }
}
