{{#if withStyles}}
import styles from './{{pascalCase name}}.module.css';
{{/if}}

interface {{pascalCase name}}Props {
  children?: React.ReactNode;
}

export function {{pascalCase name}}({ children }: {{pascalCase name}}Props) {
  return (
    <div{{#if withStyles}} className={styles.container}{{/if}}>
      {children}
    </div>
  );
}

