.content {
  margin-top: 9.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
.title {
  font-size: 2.2rem;
  font-family: 'SUITE';
  font-weight: 700;
  line-height: 3rem;
  color: #111111;
  margin-bottom: 1.8rem;
}

.subTitle {
  font-size: 1.4rem;
  color: #589e3a;
  line-height: 2rem;
  font-weight: 600;
}

.line {
  border-bottom: 1px solid rgba(226, 229, 217, 1);
  width: 100%;
  height: 1px;
}

.groupItemLists {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.groupItemList {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.groupItem {
  display: flex;
  gap: 1.2rem;
  img {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    object-fit: cover;
  }
}

.groupItemTitle {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  p {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: 0px;
    color: rgba(95, 100, 111, 1);
  }
  h2 {
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 2.4rem;
    letter-spacing: 0px;
    color: rgba(34, 34, 34, 1);
  }
}

.groupItemStatus {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: 0px;
  color: rgba(4, 121, 10, 1);
  background-color: rgba(235, 242, 215, 1);
  padding: 0.2rem 0.8rem 0.1rem 0.8rem;
  border-radius: 0.8rem;
}

.button {
  will-change: transform, opacity;
  position: fixed;
  bottom: 0;
  left: 2rem;
  width: calc(100% - 4rem); // 좌우 공간 확보: 2rem + 2rem
  padding: 1.2rem;
}
